*~
\#*
.\#*
.DS_Store
.project
*.ignore
tmp
log
logs
Thumbs.db
ehthumbs.db
Desktop.ini
*.sublime-project
*.sublime-workspace
*.code-workspace

Gemfile.lock

Mackup/*.atom
Mackup/*.aws
Mackup/*.bundle
Mackup/*.config
Mackup/*.docker
Mackup/*.ssh
Mackup/*.subversion
Mackup/Library
Mackup/.boto







